@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;  /* rem kullandığımzıda 10 px baz alacağız*/
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background: #FFF;
    color: #333;
    line-height: 1.6;
}
ul {
    list-style: none;
}

a {
    color: #333;  /* Direk body den kalıtım yoluyla alamadığı için tekrar belirtiyoruz.*/
    text-decoration: none;
}
h1,h2 {
    font-weight: 300;
    line-height: 1.2;
}
p {
    margin: 1rem 0;
}
img {
    width: 100%; /*Resimler responsive olsun, içerisinde bulunduğu container ı kaplasın istiyoruz.*/
}
.text-center {
    text-align: center;
}

/* navbar */
.navbar {
    display: flex; /* Burada oluşturduğumuz 2 elemanımız var. (h1 ve nav) navbar bizim için artık flex-box container ve altındaki elemanlar ise bir flex-item elemanıdır. Bu flex-itemların yan yana gelmesini istiyoruz.*/
    align-items: center; /*h1 ve nav kendi kapsamları içerisinde ortalansın*/
    justify-content: space-between; /* yatay da elemanlar (h1 ve nav) arasında eşit boşluk bırakıyoruz.*/
    background-color: var(--dark);
    opacity: 0.8;
    color: var(--white);
    position: fixed; /*En üst de navbarın sabit kalmasını istiyoruz.*/
    top: 0;
    width: 100%; /*Fixed dediğimiz zaman içerik kadar yer kaplıyordu. Dolayısıyla genişliğini kaybediyor. Bundan dolayı genişlik değeri veriyoruz.*/
    height: 70px;
    padding: 0 3rem; /*html e verdiğimiz 10px lik font-size değeri ile responsive tasarıma uygun olarak 30px değerine karşılık gelir.*/
}
.navbar a {
    /*navbar a verdiğimiz renk sadece içerisinde bulunduğu h1 etiketine etki ediyor. nav etiketinin altındaki a etiketlerine etki etmez. Çünkü containera verdiğimiz color rengi alt elemanlara aktarılamaz. Bizim ekstra o etiketlere ilgili özelliği vermemiz gerekiyor.*/
    color: var(--white);
    padding: 1rem 2rem;
    margin: 0 .5rem;
}
.navbar a:hover {
    border-bottom: 2px solid var(--warning);
}
.navbar ul {
    display: flex; /*ul etiketini flex-container elemanı yapıyoruz ve containerın altında bulunan elemanlar flex-item olur. Biz bu flex-itemları yan yana getiriyoruz.*/
}
.navbar .brand {
    font-weight: 400;
}
.navbar h1 {
    font-size: 3rem;
}
.navbar span {
    color: var(--warning);
}